{% extends 'base.html' %} {% block content %}

<main>
  <h1>My Accounts</h1>
  <div>
    <ul>
      <a href="{% url 'create_account' %}">Create an Account</a>
    </ul>
  </div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Number of Receipts</th>
      </tr>
    </thead>
    <tbody>
      {% for account in account_list %}
      <tr>
        <td>{{account}}</td>
        <td>{{account.number}}</td>
        <td>{{account.receipts.all | length }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>

{% endblock content %}
