{% extends 'base.html' %} {% block content %}

<main>
  <h1>My Categories</h1>
  <div>
    <ul>
      <a href="{% url 'create_category' %}">Create a Category</a>
    </ul>
  </div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of Receipts</th>
      </tr>
    </thead>
    <tbody>
      {% for category in expensecategory_list %}
      <tr>
        <td>{{category}}</td>
        <td>{{category.receipts.all | length }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>

{% endblock content %}
